<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性的值是对应得Mapper的路径 -->
<mapper namespace="com.p2p.mapper.TextMapper">
<cache type="org.mybatis.caches.ehcache.LoggingEhcache"></cache>
<resultMap type="com.p2p.pojo.Text" id="baseMap">
   <!--  id标签的主键idcolumn属性是数据库的字段名,property属性是实体类的属性名(com.p2p.pojo.) -->
	<id column="id" property="id"/>
	 <!--result标签的column属性是数据库的字段名,property属性是实体类的属性名(com.p2p.pojo.) -->
	<result column="name" property="name"/>
</resultMap>

<!-- resultMap属性的值是resultMap元素id值,返回的是一个list集合 -->
	<!-- 查询 -->
<select id="selectList" resultMap="baseMap"></select>

<!-- resultType是返回的对象值值可以是基本数据类型或对象   parameterType是传递的对象值可以是基本数据类型或对象 如果没有返回值和传递值可以不写-->
	<!-- 添加 -->
<insert id="addText" parameterType="com.p2p.pojo.Text" ></insert>

	<!-- 修改 -->
<update id="updeteText" ></update>

    <!-- 删除 -->
<delete id="deleteText"></delete>

</mapper>

