<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p2p.mapper.IUserMapper">
<resultMap type="com.p2p.pojo.User" id="BaseResultMap">
		  <id column="u_id" property="uid"/>
 		  <result column="u_password" property="upassword"/>
 		  <result column="u_headImg" property="uheadImg"/>
 		  <result column="u_phone" property="uphone"/>
 		  <result column="u_loginTime" property="uloginTime"/>
 		  <result column="u_invited" property="uinvited"/>
 		  <result column="u_invite" property="uinvite"/>
 		  <result column="u_enable" property="uenable"/>
 		  <result column="u_isAccountSum" property="uisAccountSum"/>
 		  <result column="u_ip" property="uip"/>
 		  <result column="u_vouch" property="uvouch"/>
 		  <result column="u_bonus" property="ubonus"/>
 		  <result column="u_credit" property="ucredit"/>
 		  <result column="u_balance" property="ubalance"/>
 		  <result column="u_group" property="ugroup"/>
 		  <result column="u_level" property="ulevel"/>
 		  <result column="u_intgrad" property="uintgrad"/>
 		 
</resultMap>
	<!-- 增加 -->
	<insert id="addUser" parameterType="com.p2p.pojo.User" useGeneratedKeys="true" keyProperty="uid">
 		 insert into user(u_password,u_headImg,u_phone,u_loginTime,u_invited,u_invite,u_enable,u_isAccountSum,u_ip,u_vouch,u_bonus,u_credit,u_balance,u_group,u_level,u_intgrad) 
 		 values(#{upassword},#{uheadImg},#{uphone},#{uloginTime},#{uinvited},#{uinvite},#{uenable},#{uisAccountSum},#{uip},#{uvouch},#{ubonus},#{ucredit},#{ubalance},#{ugroup},#{ulevel},#{uintgrad})
 	</insert>
 	
 
 	<select id="getUser" parameterType="com.p2p.pojo.User" resultMap="BaseResultMap">
 		select * from user 
 		 <where>
 		     1=1
 			    <if test="uid!=null">and u_id=#{uid}</if>
		  		<if test="upassword!=null">and u_password=#{upassword}</if>
		  		<if test="uheadImg!=null">and u_headImg=#{uheadImg}</if>
		  		<if test="uphone!=null">and u_phone=#{uphone}</if>
		  		<if test="uloginTime!=null">and u_loginTime=#{uloginTime}</if>
		  		<if test="uinvited!=null">and u_invited=#{uinvited}</if>
		  		<if test="uinvite!=null">and u_invite=#{u_invite}</if>
		  		<if test="uenable!=null">and u_enable=#{uenable}</if>
		  		<if test="uisAccountSum!=null">and u_isAccountSum=#{uisAccountSum}</if>
		  		<if test="uip!=null">and u_ip=#{uip}</if>
		  		<if test="uvouch!=null">and u_vouch=#{uvouch}</if>
		  		<if test="ubonus!=null">and u_bonus=#{ubonus}</if>
		  		<if test="ucredit!=null">and u_credit=#{ucredit}</if>
		  		<if test="ubalance!=null">and u_balance=#{ubalance}</if>
		  		<if test="ugroup!=null">and u_group=#{ugroup}</if>
		  		<if test="ulevel!=null">and u_level=#{ulevel}</if>
		  		<if test="uintgrad!=null">and u_intgrad=#{uintgrad}</if>
 		</where>
 	</select>
</mapper>